* {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.822);

}
h1 {
    color: white;
}
a {
    color: white;
    text-decoration: none
}

.container {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;

}
#search-button {
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    background-color: rgba(100, 216, 237, 0.589);
    cursor: pointer;
    position: relative;
    right: 5rem;
    transition: font-size 0.3s ease;
}
#search-button:hover {
    background-color: aliceblue;
    font-size: 1.15rem;
}
#search-input {
    padding: 0.5rem;
    position: relative;
    right: 5rem;
}

#search-input-label {
    font-weight: bold;
    font-size: 1.25rem;
    margin-right: 0.5rem;
    position: relative;
    right: 5rem;
}
.cards, .default-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items:flex-start;
    
}
.poster {
    margin: 0 auto;
}
@media only screen and (max-width: 800px) {
    .cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    
    }
    .card {
        width: 100%;
        text-align: center;
        
}
.default-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.posters {
    width: 100%;
    height: auto;
}
.poster {
    margin: 0 auto;
}
.overview {
    text-align: center;
    justify-self: center;
    align-self: center;
}
}

.card {
    width: 33%;
    text-align: center;
}
.cards p {
    order: 1;
}
.rating {
    order: 1;
    font-weight: bold;
}
.release-date{
    font-weight: bold;

}
.title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
#trending-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 1rem;
    position: relative;
    right: 30rem;
    color: rgba(30, 124, 141, 0.856)
}